/* ==UserStyle==
@name           amber black whatsapp
@namespace      Jamir-boop
@version        0.1.0
@description    Theme for whatsapp
@author         jamir-boop
@preprocessor   stylus
==/UserStyle== */

mainColor = #ffb900
mainColorRGB = 255, 185, 0

@-moz-document domain("web.whatsapp.com")
  :root
    --WDS-accent: mainColor !important
    --WDS-background-dimmer-RGB: mainColorRGB !important
    --WDS-components-profile-photo-content-green: mainColor !important
    --WDS-content-action-emphasized: mainColor !important
    --WDS-content-external-link: mainColor !important
    --WDS-persistent-activity-indicator: mainColor !important
    --WDS-persistent-always-branded: mainColor !important
    --WDS-persistent-verified: mainColor !important
    --WDS-systems-bubble-content-business: mainColor !important
    --WDS-components-profile-photo-content-cobalt: mainColor !important
    --WDS-secondary-positive: mainColor !important
    --splashscreen-progress-primary: mainColor !important
    --app-background-stripe: mainColor !important
    --attachment-type-photos-color: mainColor !important
    --attachment-type-orders-color: mainColor !important
    --attachment-type-contacts-color: mainColor !important
    --audio-progress-played-incoming: mainColor !important
    --audio-progress-played-outgoing: mainColor !important
    --text-success: mainColor !important
    --round-icon-background: mainColor !important
    --icon-header-illustration-main: mainColor !important
    --icon-primary: mainColor !important
    --input-border-active: mainColor !important
    --input-button-more: mainColor !important
    --input-empty-value-placeholder: mainColor !important
    --progress-primary: mainColor !important
    --poll-bar-fill-receiver: mainColor !important
    --poll-bar-fill-sender: mainColor !important
    --ptt-thumb-incoming-played: mainColor !important
    --ptt-green: mainColor !important
    --WDS-content-read: mainColor !important
    --WDS-content-read-RGB: mainColorRGB !important

    --WDS-systems-bubble-surface-outgoing: black !important
    --WDS-systems-bubble-surface-incoming: black !important